@font-face {
  font-family: "Cabin Sketch";
  src: url("utilities/fonts/Cabin_Sketch/CabinSketch-Bold.ttf")
    format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Fugaz One";
  src: url("utilities/fonts/Fugaz_One/FugazOne-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Handlee";
  src: url("utilities/fonts/Handlee/Handlee-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Fredoka_One";
  src: url("utilities/fonts/Fredoka_One/FredokaOne-Regular.ttf")
    format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Leckerli_One";
  src: url("utilities/fonts/Leckerli_One/LeckerliOne-Regular.ttf")
    format("truetype");
  font-style: normal;
  font-weight: 600;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/**{
  outline: 1px solid limegreen !important;
}*/

body {
  background-size: cover;
  background-attachment: fixed;
  background-image: url(imagenes/fondofiltro.jpg);
}

.containerHeader img {
  width: 60%;
  height: 100%;
  display: flex;
  margin-left: 20%;
  margin-top: 5%;
}
.containerCover2 {
  display: flex;
  justify-content: center;
}

.cover {
  display: flex;
  width: 60%;
  height: 100%;
}

.inputText {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  padding: 2%;
  margin-top: 3%;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.input {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  padding: 1%;
  border-color: #97d9e1;
  font-family: "Cabin Sketch";
  font-size: 25px;
  color: #037ef3;
  text-align: center;
  margin-top: 1%;
}
.text {
  font-family: "Handlee";
  font-size: 22px;
  color: #003a70;
  padding: 2%;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: bold;
}
.buttonCover {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

.button {
  box-shadow: 3px 4px 0px 0px #2f96d6;
  background-color: #00d2f3;
  border-radius: 18px;
  border: 1px solid #2f96d6;
  display: inline-block;
  cursor: pointer;
  color: #263f6a;
  font-size: 25px;
  padding: 10px 30px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #3e878a;
  margin: 2%;
  font-family: "Fredoka_One";
}
.button:active {
  position: relative;
  top: 5px;
  color: rgb(250, 250, 250);
  background: #7292e4;
  font-family: "Comic Sans MS", "Gill Sans MT", "Trebuchet MS", sans-serif;
  font-size: 25px;
}
.button:hover {
  background-color: #28c3db;
}

.buttonReplay {
  display: flex;
  justify-content: center;
  margin-top: 1%;
}

#name::placeholder {
  text-align: center;
  color: #037ef3;
}

#easySection {
  display: none;
}
#mediumSection {
  display: none;
}
#hardSection {
  display: none;
}
#win {
  display: none;
  background-color: rgba(255, 255, 255, 0.7);
}
#game {
  display: none;
}

.instructionText {
  text-align: center;
  color: #003a70;
  background-color: rgba(255, 255, 255, 0.7);
  margin-top: 2%;
  font-size: 25px;
  font-family: "Handlee";
}

.greeting {
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 45px;
  font-weight: bold;
  font-family: "Cabin Sketch";
  color: #037ef3;
}
@media only screen and (max-width: 800px) {
  .text,
  .button,
  .inputText,
  .instructionText,
  .input,
  .hiEs,
  .greeting {
    font-size: 18px;
  }
}

@media only screen and (max-width: 400px) {
  .text,
  .button,
  .inputText,
  .instructionText,
  .input,
  .hiEs,
  .greeting {
    font-size: 12px;
  }
}

.root {
  display: flex;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.7);
  margin-left: 5%;
  margin-top: 2%;
  padding: 1%;
}

.easySection {
  flex-direction: unset;
  width: 60%;
  height: 100%;
}
.container {
  display: flex;
  flex-direction: unset;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.7);
  perspective: 1000px;
  padding: 1%;
  transform: rotateY(0deg);
}
@media only screen and (max-width: 600px) {
  .container {
    flex-direction: row;
  }
}

.card {
  width: 100px;
  height: 100px;
  min-width: 40px;
  flex-direction: column;
  transform-style: preserve-3d;
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform: rotateY(180deg);
  cursor: pointer;
  margin: 1%;
}
@media only screen and (max-width: 400px) {
  .card {
    flex-direction: row;
    width: 50px;
    height: 50px;
  }
}

.flip {
  transform: rotateY(0deg);
  position: relative;
}
.imageBack {
  backface-visibility: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  border: solid #0dd3ff;
  pointer-events: none;
}

.imageFront {
  position: absolute;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  border: solid #0dd3ff;
  pointer-events: none;
  transform: scaleX(1);
  transform: rotateY(180deg);
}
.winGame {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  margin-left: 35%;
}
.audio {
  margin-top: 1%;
  display: flex;
  justify-content: end;
}
