.Card{
    box-shadow: 0px 4px 4px 0px rgb(21, 24, 24);
    backface-visibility: hidden;
    position: absolute;
            backface-visibility: hidden;
            font-size: 10%;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 200px;
            height: 200px;
     

}
.Card2{
    box-shadow: 0px 4px 4px 0px rgb(21, 24, 24);
    backface-visibility: hidden;
    position: absolute;
            backface-visibility: hidden;
            font-size: 10%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 200px;
     background-image: url("./img/pokeeee.jpg");
      
    }



body{
    background-image:url("./img/Imagen\ fondo\ de\ cartas.jpeg");
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    
    
}
 
    

#root {
    --w: calc(70vw / 6);
    --h: calc(70vh / 4);
}

* {
    transition: all 0.5s;
}